{% extends "base.html" %}
{% block title %}Empleados{% endblock %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Empleados</h2>
    <button class="btn btn-success" onclick="nuevoEmpleado()">
        <i class="fa-solid fa-plus"></i> Nuevo Empleado
    </button>
</div>

<div class="card">
<div class="card-body">
<table class="table table-striped table-hover" id="tablaEmpleados">
<thead>
<tr>
<th>No.</th>
<th>Nombre</th>
<th>Puesto</th>
<th>Teléfono</th>
<th>Estado</th>
<th>Acciones</th>
<th>Turno</th>
<th>Entrada</th>
<th>Salida</th>
<th>Departamento</th>
</tr>
</thead>
<tbody>
{% for empleado in empleados %}
<tr>
<td>{{ empleado.numero_empleado }}</td>
<td>{{ empleado.nombre_completo() }}</td>
<td>{{ empleado.puesto }}</td>
<td>{{ empleado.telefono }}</td>
<td>{{ empleado.turno or "" }}</td>

<td>
    {% if empleado.hora_entrada %}
        {{ empleado.hora_entrada.strftime("%H:%M") }}
    {% endif %}
</td>

<td>
    {% if empleado.hora_salida %}
        {{ empleado.hora_salida.strftime("%H:%M") }}
    {% endif %}
</td>

<td>{{ empleado.departamento or "" }}</td>
<td>
{% if empleado.activo %}
<span class="badge bg-success">Activo</span>
{% else %}
<span class="badge bg-danger">Inactivo</span>
{% endif %}
</td>
<td>
<button class="btn btn-warning btn-sm"
onclick="editarEmpleado('{{ empleado.id }}','{{ empleado.nombre }}','{{ empleado.apellido_paterno }}','{{ empleado.apellido_materno }}','{{ empleado.puesto }}','{{ empleado.telefono }}','{{ empleado.correo }}')">
<i class="fa-solid fa-pen"></i>
</button>

<a class="btn btn-secondary btn-sm"
href="{{ url_for('empleados.cambiar_estado', empleado_id=empleado.id) }}">
{% if empleado.activo %}Inactivar{% else %}Activar{% endif %}
</a>
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div></div>

{% include "components/modal_empleado.html" %}

<script>
function nuevoEmpleado(){
document.getElementById("frmEmpleado").action="/empleados/nuevo";
document.getElementById("tituloModal").innerHTML="Nuevo Empleado";
document.getElementById("frmEmpleado").reset();
new bootstrap.Modal(document.getElementById("modalEmpleado")).show();
}
function editarEmpleado(id,n,a1,a2,p,t,c){
document.getElementById("frmEmpleado").action="/empleados/editar/"+id;
document.getElementById("tituloModal").innerHTML="Editar Empleado";
nombre.value=n;
apellido_paterno.value=a1;
apellido_materno.value=a2;
puesto.value=p;
telefono.value=t;
correo.value=c;
new bootstrap.Modal(document.getElementById("modalEmpleado")).show();
}
</script>
{% endblock %}
