<div class="modal fade" id="modalUsuario"><div class="modal-dialog"><div class="modal-content">
<form id="frmUsuario" method="POST">
<div class="modal-header"><h5>Editar Usuario</h5></div>
<div class="modal-body">
<label>Nombre</label><input id="nombre" name="nombre" class="form-control">
<label>Rol</label><select id="rol" name="rol" class="form-select"><option>Administrador</option><option>Supervisor</option><option>Empleado</option></select>
</div>
<div class="modal-footer"><button class="btn btn-success">Guardar</button></div>
</form></div></div></div>